@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
  }

:root {
    --color-green-primary:  #7DCD86;
    --color-green-secondary:  #CDE293;

    --color-grey-1: #494848;
    --color-grey-2: #4948488F;
    ;

    --color-white-1: #fff;
    --color-white-2: #f3f3f3;
}
* {
    font-family: 'Montserrat';
}
body {
    background: #F3F3F3;
}

img#background1 {
    position: fixed;
    bottom: 0;
    right: 0;
}

p,
a {
    color: #494848;
    ;
    margin: 0;
}
a {
    text-decoration: none;
}

.font-white-1 {
    color: #FFFFFF;
}

.font-green-1 {
    color: #7DCD86;
}

.font-green-2 {
    color: #CDE293;
}

.font-grey-1 {
    color: #979797;
}

.font-grey-2 {
    color: #EBEBEBB2;
}


.bg-green-1 {
    background-color: #7DCD86;
    color: #FFFFFF;
}

.bg-green-2 {
    background-color: #CDE293;
    color: #494848;
}

.bg-grey-2 {
    background-color: #EBEBEBB2;
    color: #000000;
}

.bg-white-1 {
    background-color: #ffffffB2;
    color: #000000;
}

#topbar-menu {
    padding: 25px 20px;
    position: sticky;
    z-index: 1000;
    background-color: #f3f3f3;
    top: 0;
} #topbar-menu .d-flex img#icon-notification {
    margin-right: 18px;
    width: 23px;
    height: 23px;
} #topbar-menu .box-icon-menu {
    width: 20px;
    height: 30px;
    display: inline-block;
}  #topbar-menu .box-icon-menu:hover {
    cursor: pointer;
} #topbar-menu .box-icon-menu .icon-menu {
    width: 20px;
    height: 1px;
    background-color: #000000;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    transition: all ease-in-out 1s;
} #topbar-menu .box-icon-menu .icon-menu::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #000000;
    top: -7px;
    transition: all ease-in-out 1s;
} #topbar-menu .box-icon-menu .icon-menu::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #000000;
    top: 7px;
    transition: all ease-in-out 1s;
} 
/*
#topbar-menu .box-icon-menu:hover .icon-menu::before {
    transform: rotate(45deg) scale(1.2);
    transition: all ease-in-out 1s;
    top: 0;
} #topbar-menu .box-icon-menu:hover .icon-menu::after {
    transform: rotate(-45deg) scale(1.2);
    transition: all ease-in-out 1s;
    top: 0;
} #topbar-menu .box-icon-menu:hover .icon-menu {
    background-color: #f3f3f3;
    transition: all ease-in-out 1s;
}
*/


#notification-section {
    position: fixed;
    top: calc(82px);
    right: 0;
    height: 100vh;
    background-color: #FFFFFF;
    width: 70vw;
    z-index: 1500;
    transition: visibility ease 1s;
    visibility: hidden;
    transform: translateY(-100px);
    
    background-image: url("./assets/Vector-2.png");
    background-position: bottom;
    background-size: 175%;
    background-repeat: no-repeat;
    background-position-y: 375px;
    background-position-x: 0vh;
} #notification-section ul li {
    list-style: none;
    padding: 25px 20px;
} #notification-section ul li:not(:last-child){
    border-bottom: 1px solid #F3F3F3;
} #notification-section ul  li img {
    margin-right: 19px;
    width: 20px;
    height: 20px;
} #notification-section::before {
    content: "";
    background: #FFFFFF;
    width: 30px;
    height: 30px;
    top: -15px;
    right: 20%;
    position: absolute;
    transform: rotate(45deg);
}



/* Card Content*/


.my-card {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
    border-radius: 15px;
    padding: 7px 14px;
}

#card1 .button-secondary {
    background-color: #f3f3f3;
    padding: 2px 6px;
    white-space: pre;
}


#card1 .d-flex .flex-left {
    width: 55.7%;
} #card1 .d-flex .flex-left #profile-img {
    background-color: #f3f3f3;
    border-radius: 50%;
    width: 43.5px;
    height: 41px;
    margin-right: 6px;
} #card1 .d-flex .flex-left #profile-identity {
    margin-top: 8px;
} 

#card1 .d-flex .flex-mid {
    margin-top: 3%;
    width: .3%;
    background-color: #7DCD86;
    height: 60px;
}

#card1 .d-flex .flex-right {
    margin-top: 5%;
    width: 45%;
}

#card2 .flex-left,
#card2 .flex-right,
#card3 .flex-left,
#card3 .flex-right{
    padding: 7px 14px;
} #card2 .flex-left #saldo-grafik {
    background-color: #f3f3f3;
    border-radius: 100px;
    height: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
} #card2 .flex-left #saldo-grafik::before {
    content: "";
    display: inline-block;
    background-image: linear-gradient(90deg,#7DCD86,#e3c905);
    border-radius: 100px;
    height: 20px;
    width: 65%;
}

#card2 .flex-right {
    padding-top: 30px;
}

#card2 .flex-right,
#card3 .flex-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
} #card2 .flex-right img {
    width: 18px;
    height: 18px;
    margin-top: 10px;
}

#card3 .flex-left > div {
    margin-top: 15px;
    text-transform: uppercase;
}

#card3 .flex-right img {
    width: 22px;
    height: 22px;
    margin-top: 15px;
    margin-bottom: 5px;
}


#card4 {
    overflow: hidden;
}
#card4 .box {
    overflow-x: auto;
}
#card4 .box-artikel {
    width: 1440px;
    margin-top: 10px;
    padding-bottom: 18px;
} #card4 .box-artikel .artikel {
    height: 90px;
    width: 125px;
    border-radius: 15px;
    box-shadow: -1px 3px 14px -5px rgba(0, 0, 0, 0.25);
    margin-right: 15px;
    display: inline-block;
} #card4 .box-artikel .artikel .title {
    background-color: #CDE293;
    height: 68px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 7px;
} #card4 .box-artikel .artikel .link {
    height: 22px;
    text-align: right;
} #card4 .box-artikel .artikel .link a {
    margin-top: -5px;
}

#section-2 > div {
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.15);
    border-radius: 15px 15px 0px 0px;
    background-color: #7DCD86;
    padding-top: 10px;
} #section-2 > div > p {
    border-bottom: 1px solid #fff;
    width: 95%;
    color: #fff;
    margin: 5px auto;
    padding: 5px;
}
#section-2 .d-flex p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 10px;
    line-height: 132.4%;
    text-align: center;
    text-transform: capitalize;
    color: #494848;
    width: 68px;
    margin-bottom: 3px;
}
#section-2 tr {
    backdrop-filter: blur(7px);
}
#section-2 tr td{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

#section-2 tr td:first-child {
    padding-left: 20px;
    width: 39%;
}



#primary-menu {
    padding: 20px 30px 5px ;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.14);
    position: sticky;
    bottom: 0;
    z-index: 2000;
} #primary-menu div {
    text-align: center;
} #primary-menu div p {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: -0.015em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
} 

#sidebar-menu {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 1500;
    right: 0;
    width: 70%;
    height: 100vh;
    transform: translate(70vw, 0px);
    transition: all ease-in-out 1s;

    background-image: url("./assets/Vector-2.png");
    background-position: bottom;
    background-size: 175%;
    background-repeat: no-repeat;
    background-position-y: 450px;
    background-position-x: 0vh;
} #sidebar-menu ul {
    padding: 0px 20px;
} #sidebar-menu ul li {
    list-style: none;
    padding: 9px 20px;
    border-radius: 5px;
    margin-bottom: 25px;
} #sidebar-menu ul li a:visited {
    color: #494848;
} #sidebar-menu ul li img {
    margin-right: 10px;
} #sidebar-menu .icon-menu {
    font-size: 20px;
    text-align: right;
    margin: 30px 20px;
    display: block;
}


#floating-button-chatbot {
    width: 48px;
    height: 50px;
    border-radius: 24px 24px 9px;
    background-color: var(--color-green-secondary);
    display: inline-block;
    padding: 7px;
    position: fixed;
    bottom: 85px;
    right: 8px;
    transition: all ease 1s;
}

#chatbot {
    visibility: hidden;
    opacity: 0;
    transition: all ease 1s;
    height: calc(100vh - 165px);
    background-color: var(--color-white-2);
    position: fixed;
    top: 82px;
    width: calc(100% - 18px);
    margin: 0 9px;
} #chatbot #top-chatbot {
    width: 301px;
    border-bottom: 1px solid var(--color-green-primary);
    margin: 0 auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
} #chatbot #top-chatbot img {
    margin-right: 15px;
} #chatbot #top-chatbot > div.d-flex > div {
    margin-left: -10px;
    margin-top: 10px;
} #chatbot #top-chatbot > div.d-flex h3 {
    color: #2D3F65;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 0;
} #chatbot #top-chatbot > div.d-flex p.status {
    color: var(--color-green-primary);
    font-weight: 700;
    font-size: 9px;
    line-height: 11px;
    margin-bottom: 0;
} #chatbot #content-chatbot {
    height: calc(100% - 125px);
    border-radius: 36px 36px 10px 10px;
    background-color: var(--color-white-1);
    overflow-y: auto;
    padding: 24px 5px;
} #chatbot #content-chatbot > div > div {
    display: flex;
    align-items: center;
} #chatbot #content-chatbot > div.user > div {
    flex-direction: row-reverse;
} #chatbot #content-chatbot .user .text {
    background-color: var(--color-green-secondary);
    margin-right: 10px;
    width: 55%;
}#chatbot #content-chatbot .jagung .text {
    background-color: var(--color-green-primary);
    width: 239px;
}#chatbot #content-chatbot .jagung .text,
 #chatbot #content-chatbot .user .text{
    border-radius: 10px;
    padding: 10px 14px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    margin-left: -10px;
    height: fit-content;
} #chatbot #content-chatbot .jagung .text > p,
 #chatbot #content-chatbot .user .text > p{ 
    color: #676767;
    text-align: justify;
} #chatbot #content-chatbot .user img {
    background-color: #ABF4B3;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
} #chatbot #content-chatbot .jagung img {
    width: 35px;
    margin-right: 15px;
} #chatbot #content-chatbot .send-time {
    font-weight: 400;
    font-size: 7px;
    line-height: 8px;

    color: #676767;
    margin-top: 4px;
    margin-bottom: 5px;
    text-align: right;
    margin-right: 80px;
} #chatbot #input-chatbot {
    background-color: var(--color-green-primary);
    display: flex;
    border-radius: 7px;
    padding: 12px 6px;
    align-items: center;
} #chatbot #input-chatbot > input#message {
    width: 304px;
    border-radius: 38px;
    padding: 5px 15px;
    height: auto;
} #chatbot #input-chatbot > input#message:focus {
    outline: none;
    color: #676767;
} #chatbot #input-chatbot img {
    width: 22px;
    height: 16px;
    margin-left: 8px;
}









/* L A H A N K U */
#LAHANKU {
    background-color: #FFFFFF;
    margin: 0 6px;
    margin-bottom: 6px;
    border-radius: 15px;
} #LAHANKU .container {
    padding: 14px;
} #LAHANKU .notifikasi-harian {
    transition: all ease 1s;
    background: rgba(253, 202, 79, 0.49);
    border-radius: 10px;
    padding: 17px 20px;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
} #LAHANKU .notifikasi-harian .text {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    /* or 12px */

    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    margin-bottom: 0;
} #LAHANKU .notifikasi-harian .badge {
    width: 134px;
    padding: 2px;
    margin-bottom: 0;
    background-color: white;
    color: #494848;
    border-radius: 10px;
    margin-top: 6px;
} #LAHANKU .notifikasi-harian label {
    color: #FFFFFF;
    font-weight: 700;
    position: absolute;
    top: 3px;
    right: 10px;
} #LAHANKU #informasi-lahan .sub-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 124.84%;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.5);
    margin: 13px 0;
} #LAHANKU #informasi-lahan .btn {
    width: 130px;
    background: #028D12;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-weight: 700;
    font-size: 10px;
    line-height: 24px;
    /* or 240% */
    opacity: 0.5;
    text-align: center;
    color: #FFFFFF;
    flex-basis: 45%;
} #LAHANKU #informasi-lahan .btn.disabled {
    background-color: #676767;
} #LAHANKU #informasi-lahan p {
    font-weight: 700;
    font-size: 10px;
    line-height: 124.84%;
    letter-spacing: 0.04em;
    color: #000;
    margin-bottom: 20px;
} #LAHANKU #informasi-lahan p.keterangan {
    color: var(--color-green-primary);
} #LAHANKU #informasi-lahan p.badge {
    border-radius: 6px;
    background: #9FF2A9;
}

/* #tab-utama {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 0 6px;
    text-align: center;
} #tab-utama > a {
    padding: 5px 15px;
    font-weight: 700;
    font-size: 10px;
    line-height: 24px;
    color: var(--color-grey-2);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
} #tab-utama > a:not(:last-child){
    flex-basis: 35%;
} #tab-utama > a.active {
    font-weight: 700;
    font-size: 10px;
    line-height: 24px;
    background-color: #fff;
    color: var(--color-green-primary);
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
} */

#tab-utama { 
    position: relative;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 0 6px;
} #tab-utama div {
    padding: 5px 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #F3F3F3;
    position: absolute;
} #tab-utama div a {
    font-weight: 700;
    font-size: 11px;
    line-height: 24px;
    color: rgba(73, 72, 72, 0.56);
} #tab-utama div:first-child {
    width: 35%;
    text-align: center;
    z-index: 200;
} #tab-utama div:nth-child(2) {
    width: 63%;
    text-align: right;
    z-index: 150;
} #tab-utama div:last-child {
    width: 100%;
    text-align: right;
    z-index: 100;
} #tab-utama > div.active{
    background-color: #fff;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
} #tab-utama > div.active > a {
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    color: var(--color-green-primary);
}



#panen-section,
#tambah-lahan-section {
    transition: all ease 1s;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    background-color: rgba(49, 7, 7, 0.1);
} #panen-section #form-panen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97vw;
    height: 70vh;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 24px 18px;
} #panen-section #form-panen div:first-child {
    padding: 0 10px;
} #panen-section #form-panen div:not(:first-child),
#tambah-lahan-section #form-tambah-lahan > .container > div:not(:first-child){
    position: relative;
    margin-top: 34px;
} #panen-section label,
#tambah-lahan-section label:not([for]) {
    background-color: white;
    border-radius: 19px;
    border-bottom: 3px solid var(--color-green-primary);
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.015em;
    padding: 5px 10px;
    color: #494848;
    position: absolute;
    transform: translate(10px, -50%);
} #panen-section input,
#tambah-lahan-section input {
    border: none;
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 10px;
    color: #979797;
    width: 100%;
} #panen-section input:focus,
#tambah-lahan-section input:focus {
    outline: none;
} #panen-section input::placeholder,
#panen-section input::placeholder {
    color: #c4c4c4;
} #panen-section #form-panen div:last-child,
 #tambah-lahan-section #form-tambah-lahan > .container{
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100vh - 85px);
    overflow-y: auto;
} #panen-section div > .btn {
    background: #7DCD86;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px; 
    padding: 13px 53px;
    color: #fff;
    text-decoration-line: underline;
    width: 85%;
    margin: 0 7.5%;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    opacity: .9;
} #panen-section div > .simpan,
#tambah-lahan-section .simpan {
    opacity: .9;
    background: #7DCD86;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    width: 101px;
    height: 23px;
    padding: 2px 0;
    margin: 0 calc((100% - 101px)/2);
    margin-top: 35px;
    color: #fff;
    text-align: center;
    display: inline-block;
}

#tambah-lahan-section {
    background-color: #FFF;
    padding: 27px 21px;
    height: calc(100vh - 80px);
    border-radius: 0 0 15px 15px;
} #tambah-lahan-section #form-tambah-lahan label:not([for]) {
    border: none;
} #tambah-lahan-section div#status-lahan > label {
    border-radius: 1;
    top: -10px;
} #tambah-lahan-section div#status-lahan > div {
    background-color: #f3f3f3;
    display: flex;
    border-radius: 10px;
    width: fit-content;
    align-items: center;
} #tambah-lahan-section div#status-lahan > div > label[for] {
    color: #979797;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 120px;
    font-size: 14px;
    line-height: 20px;
} #tambah-lahan-section div#status-lahan > div > label.active {
    background-color: var(--color-green-primary);
    color: #494848;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
} #tambah-lahan-section #form-tambah-lahan > .container {
    padding: 0;
    padding-top: 20px;
    margin-top: 10px;
    position: relative;
    height: 80vh;
    overflow-y: auto;
} #tambah-lahan-section #form-tambah-lahan > .container > div:last-child {
    margin: 30px 0;
} #tambah-lahan-section #form-tambah-lahan p {
    font-weight: 600;
    font-size: 13px;
line-height: 16px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #494848;
} #tambah-lahan-section p.sub-title {
    margin-top: 30px;
}

/* UTILITIES */
.u-margin-bottom-small {
    margin-bottom: 20px;
}

.button {
    border-radius: 5px;
    display: inline-block;
}

.button-2 {
    border-radius: 100px;
    display: inline-block;
}

.p-fs-10-fw-400 {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.015em;
    text-align: left;
    margin-bottom: 6px;
}

.p-fs-13 {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.015em;
    text-align: left;
    margin-bottom: 3px;
}

.p-fs-14 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.015em;
    text-align: left;
    margin-bottom: 3px;
}

.p-fs-8-fw-400 {
    font-family: Montserrat;
    font-size: 8px;
    font-style: italic;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: -0.015em;
    text-align: left;
}

.p-fs-10-fw-500 {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 5px;
}

.p-fs-15-fw-700 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 4px;
}

.p-fs-6-fw-400 {
    font-family: Montserrat;
    font-size: 6px;
    font-style: italic;
    font-weight: 400;
    line-height: 7px;
    letter-spacing: -0.015em;
    text-align: center;
    margin-bottom: 2px;
}

.p-fs-10-fw-800 {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 800;
    line-height: 13px;
    letter-spacing: 0.105em;
    text-align: left;
}

.p-fs-10-fw-600 {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: -0.015em;
    text-align: left;
}

.p-fs-8-fw-500 {
    font-family: Montserrat;
    font-size: 8px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: -0.015em;
    text-align: left;
}

.p-fs-10-fw-300 {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: -0.015em;
    text-align: center;
}

.p-fs-16-fw-900 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.105em;
    text-transform: uppercase;
}

.p-fs-15-fw-400 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.w-65 {
    width: 65%;
}
.w-80 {
    width: 80%;
}
.w-35 {
    width: 35%;
}

.active-sidebar {
    background-color: #CDE293;
    color: #494848;
}

.btn.disabled {
    background-color: #676767;
}